footer {
    padding: 200px 0;
    .row {
        justify-content: space-between;
        .footer-text {
            gap: 50px;

            @media (max-width: 768px) {
                flex-direction: column;
                margin-bottom: 50px;
            }
        }
    }

    @media (max-width: 768px) {
        padding: 100px 0px;
    }
}
