body {
    .image-block-reverse {
        flex-direction: row-reverse;
    }

    .image-block {
        .row {
            @media (max-width: 768px) {
                flex-direction: column-reverse;
            }

            .image-block-img {
                overflow: hidden;
                padding: 0;
                max-height: 540px;

                img {
                    height: auto;
                    width: auto;
                    max-height: 900px;
                    max-width: 1000px;
                }

                @media (max-width: 922px) {
                    max-height: 540px;
                }
            }
            .text-block {
                padding: 100px 0;
            }
        }
    }
}
